@mixin platform-background-image($url) {
  background: url($url) no-repeat;
}

page-home {
    .header {
        margin-top: 3vh;
        margin-left: 3vh;
        font-size: 2em;
        color: white;
        height: 20px;
        width: 20px;
    }
    .home-wrapper {
        @include platform-background-image("../assets/images/bgHome.png");
        text-align: center;
    }
    .home {
        background: white;
        height: 75%;
        margin-top: 61.5%;
        position: relative;
        width: 100%;
    }
    .home:before {
        border-bottom: 90px solid white;
        border-left: 0px solid transparent;
        border-right: 58vh solid transparent;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: -90px;
        width: 0;
    }
    .option {
        height: 16vh; 
        width: 16vh; 
        border-radius: 50%;
        box-shadow: 2px 5px 6px #7DAEA7;
    }
    #clock, #album, #insta, #aboutMe, #review, #contact {
        font-size: 65px;
        color: white;
    }
    ion-label {
        font-size: 17px;
        margin: none;
        padding: none;
    }
}
