<ion-header class="header">
  <ion-icon name="ios-return-left" (click)="goToHome()"></ion-icon>
</ion-header>

<ion-content class="review-wrapper">
  <div class="review">
    <h2>REVIEW</h2>
     <ion-fab top right edge>
      <button ion-fab color="hoved" (click)="goToNewReview()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-list>
    <ion-card class="reviews" *ngFor="let review of data.reviews | async">
      <ion-card-header>
        {{review.title}}
        <p>{{ review.createdAt | time }}</p>
      </ion-card-header>
      <ion-thumbnail *ngIf="review.imageUrl">
        <img class="image-review" src="{{review.imageUrl}}"/>
      </ion-thumbnail>
      <ion-card-content class="description">
        "{{review.description}}"
      </ion-card-content>
    </ion-card>

   
    </ion-list>
  </div>
</ion-content>