@mixin platform-background-image($url) {
  background: url($url) no-repeat;
}

/* INSTAGRAM CSS */

page-instagram {
    .header {
        margin-top: 3vh;
        margin-left: 3vh;
        font-size: 5vh;
        color: white;
        height: 20px;
        width: 20px;
    }
    .instagram-wrapper {
        @include platform-background-image("../assets/images/bgInstagram2.png");
        text-align: center;
    }
    .instagram {
        background: white;
        height: 200%;
        margin-top: 61.5%;
        position: relative;
        width: 100%;
    }
    .instagram:before {
        border-bottom: 90px solid white;
        border-left: 0px solid transparent;
        border-right: 58vh solid transparent;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: -90px;
        width: 0;
    }
    h2 {
        position: absolute;
        margin-left: 30px;
        top: -40px;
    }

    #instafeed {
        margin-top: 10%;
        display: flexgrid;
        position: absolute;
        
    }
    
}
